<h1>Teachers </h1>
<h2> Teacher1: <%= @teacher1.nombre %> </h2>
<ul>
    <li>Correo: <%= @teacher1.email %></li>
    <li>Fecha:<%= @teacher1.materia %> </li>
</ul>


<h2> Teacher2: <%= @teacher2.nombre %> </h2>
<ul>
    <li>Correo: <%= @teacher2.email %></li>
    <li>Fecha:<%= @teacher2.materia %> </li>
</ul>
